.contenedor-principal-menus{
    padding: 0 20px;
    width: 550px;
    margin: 0 auto;
}
@media(max-width:767px){
    .contenedor-principal-menus{
        width: initial;
    }
}

.contenedor-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-titulo i{
    font-size: 30px;
}

.contenedor-pedidos{
    display: flex;
}


.contenedor-pedido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 150px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 0 10px;
}

.informacion-pedido{
    display: flex;
    flex-direction: column;
}

.informacion-pedido p{
    margin: 0;
    line-height: 20px;
    text-align: center;
}

.informacion-pedido p + p{
    margin-top: 7px;
}

.informacion-pedido a{
    width: 85%;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

.contenedor-imagen {
}

.contenedor-imagen img{
    width: 150px;
}

.lSPrev,.lSNext{
    text-align: center;
    font-size: 30px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    height: 43px !important;
}
@media(max-width:767px){
    .lSPrev,.lSNext{
        display: none !important;
    }  
}

.lSPrev::before{
    content: '<';
}
.lSNext::after{
    content: '>';
}

.contenedor-titulo-platos-pedidos{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.contenedor-titulo-platos-pedidos h1{
    line-height: 35px;
}
.contenedor-titulo-platos-pedidos h1{
    line-height: 35px;
}

/* ESTILOS PARA CHAT */
.boton-chat{
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid #fff;
}

.contenedor-principal-chat{
    position: fixed;
    display: none;
    height: 440px;
    width: 300px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background-color: orange;
    border-radius: 5px;
    z-index: 99999;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    padding-bottom: 0;
}

@media(max-width:767px){
    .contenedor-principal-chat{
        width: calc(100% - 60px);
        right: 30px;
    }
}
.boton-cerrar{
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    top: 5px;
    right: 8px;
}
.mensajes{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 342px;
    margin: 0 auto;
    margin-top: 40px;
    overflow-y: scroll;
    padding: 0 15px;
    font-size: 12px;
}

.mensaje-instrucciones{
    color: #555;
    text-align: center;
    
}

.mensaje-usuario{
    background-color: orange;
    padding: 0px 15px;
    padding-left: 15px;
    width: 65%;
    align-self: flex-end;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensaje-bot{
    background-color: #91b0cf;
    padding: 0px 15px;
    padding-left: 15px;
    width: 65%;
    align-self: flex-start;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensaje-recomendacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mensaje-recomendacion p{
    color: #555;
    text-align: center;
}

.mensaje-recomendacion a{
    background-color: orange;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}


.contenedor-input-boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.contenedor-input-boton input{
    display: flex;
    justify-content: center;
    width: calc(100% - 60px);
    height: 30px;
    outline: none;
    border: none;
    font-size:12px;
    font-weight: 300px;
}
.contenedor-input-boton input::placeholder{
    padding-left: 5px;
}
.contenedor-input-boton i{
    font-size: 30px;
    margin-left: 10px;
    color: #fff;
}

.contendor-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999999;
}

.cuerpo-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    width: calc(100% - 80px);
    height: 440px;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.pedido-modal{
    text-align: center;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio{
    font-size: 16px;
    color: #555;
}

.ingredientes,.descripcion-plato{
    font-size: 14px;
    color: #555;
}

.botones-modal{
    display:flex;
    gap: 40px;
}

.botones-modal a{
    width: 100px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}