{% extends 'base.html' %}

{% block extrahead %}
{%load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/menus.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/lightslider.css' %}" /> 
    <script src="{% static 'javascript/lightslider.js' %}"></script>
{% endblock %}

{% block content %}
<div class="contenedor-principal-menus">
    <div class="contenedor-titulo">
        <h1>Menus</h1>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="contenedor-pedidos" id="adaptive">
        <div class="contenedor-pedido">
            <div class="informacion-pedido">
                <p>Lomo Saltado</p>
                <p>Precio: $14.990</p>
                <a>Agregar</a>
            </div>
            <div class="contenedor-imagen">
                <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/535014_832x554.jpg" alt="">
            </div>
        </div>
        

        <!-- {% for pedido in pedidos%}
        <div class="contenedor-pedido">
            <div class="informacion-pedido">
                <p>Nombre</p>
                <p>cantidad</p>
                <p>precio unitario</p>
            </div>
            <div class="contenedor-imagen">
                <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/535014_832x554.jpg" alt="">
            </div>
        </div>
        {% endfor %} -->
        
    </div>
    <!-- <div class="contenedor-titulo-platos-pedidos">
        <h1>Platos Seleccionados</h1>
        <p>Total: $19.990</p>
    </div>
    <div class="menus">
        {% for menu in menus %}
        <div>
            <p>Nombre</p>
            <p>precio unitario</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam facere sunt blanditiis praesentium
                delectus cum fuga molestias quod dolore nobis.</p>
            <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/535014_832x554.jpg" alt="">
            <a href="">Pedir</a>
        </div>
        {% endfor %}
    </div> -->

    <!-- <div class="contenedor-titulo-platos-pedidos">
        <h1>Platos Seleccionados</h1>
        <p>Total: $19.990</p>
    </div>
    <div class="menus">
        <div>
            <p>Nombre</p>
            <p>precio unitario</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam facere sunt blanditiis praesentium
                delectus cum fuga molestias quod dolore nobis.</p>
            <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/535014_832x554.jpg" alt="">
            <a href="">Pedir</a>
        </div>
       
    </div> -->
</div>

<div class="boton-chat" onclick="chatOpenHandler(this)">
</div>

<div class="contenedor-principal-chat" >
    <i class="fas fa-times-circle boton-cerrar" onclick="chatCloseHandler(this)"></i>
    <div class="mensajes">
        <div class="mensaje-instrucciones">
            <p>
                Bienvenido a "Lineas de Nazca", para pedir ingresa tus ingredientes favoritos separados por una coma. Ejemplo: carne, pimienta, papas, etc...
            </p>
        </div>
        <div class="mensaje-usuario">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolorum corporis eos rem assumenda reprehenderit sequi soluta eaque architecto veritatis optio et dolor nemo veniam aliquam, libero molestiae. At, ullam.
            </p>
        </div>
        <div class="mensaje-usuario">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolorum corporis eos rem assumenda reprehenderit sequi soluta eaque architecto veritatis optio et dolor nemo veniam aliquam, libero molestiae. At, ullam.
            </p>
        </div>
        <div class="mensaje-bot">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vero eligendi expedita similique beatae dicta ratione sapiente consequatur? Esse dolorem laborum laudantium tenetur, necessitatibus ut maiores reiciendis recusandae fugiat tempore!
            </p>
        </div>
        <div class="mensaje-usuario">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolorum corporis eos rem assumenda reprehenderit sequi soluta eaque architecto veritatis optio et dolor nemo veniam aliquam, libero molestiae. At, ullam.
            </p>
        </div>
        <div class="mensaje-bot">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vero eligendi expedita similique beatae dicta ratione sapiente consequatur? Esse dolorem laborum laudantium tenetur, necessitatibus ut maiores reiciendis recusandae fugiat tempore!
            </p>
        </div>
        <div class="mensaje-recomendacion">
            <p>
                Te recomiendo el siguiente plato
            </p>
            <a onclick="handleOpenModal()">Ver plato</a>
        </div>
    </div>
    <div class="contenedor-input-boton">
        <input type="text" name="" id="" placeholder="Ingresa un mensaje">
        <i class="fas fa-play"></i>
    </div>
    
    
</div>

<div class="contendor-modal">
    <div class="cuerpo-modal">
        <div class="contenedor-imagen">
            <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/535014_832x554.jpg" alt="">
        </div>
        <div class="informacion-pedido pedido-modal">
            <h3>Lomo Saltado</h6>
            <p class="precio">Precio: $14.990</p>
            <p class="ingredientes">ingredientes: Carne, Papas Fritas, Cebolla Morada, Ajo, Sal, Arroz y Choclo Peruano</p>
            <p class="descripcion-plato">Descripción: Exquisito plato típico Peruano, preparado con el mejor lomo del mercado. La mezcla de la carne con la cebolla morada y el ajo le da un toque único, clásico de la cocina del Perú</p>
            <div class="botones-modal">
                <a>Agregar</a>
                <a onclick="handleOpenModal()">Salir</a>
            </div>
        </div>
        
    </div>
</div>

<script>
    function loadForm() {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-horario").addClass("show");
                $(document.body).addClass("body-not-scroll");
            },
            success: function (data) {
                setModalFormHandler(data);
            }
        });
    };

    function chatOpenHandler(e){
        var flip = 0;
        $(e).toggle();
        $(".contenedor-principal-chat").toggle("slow");
    }

    function chatCloseHandler(e){
        var flip = 0;
        $(".contenedor-principal-chat").toggle();
        $(".boton-chat").toggle("slow");
    }
    function handleOpenModal(){
        $(".contendor-modal").toggle("fast");
        $(".contenedor-principal-chat").toggle("fast");
    }

</script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#adaptive').lightSlider({
            adaptiveHeight:true,
            item:1,
            slideMargin:20,
            loop:true,
            enableDrag:false
        });
    });
    </script>






{% endblock %}